receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024

  memory_limiter:
    check_interval: 1s
    limit_mib: 512
    spike_limit_mib: 128

exporters:
  # ================= TRACES =================
  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true

  # ================= LOGS → LOKI =================
  otlphttp/loki:
    endpoint: http://loki:4318
    tls:
      insecure: true

  # ================= METRICS → PROMETHEUS =================
  prometheus:
    endpoint: "0.0.0.0:8889"   # port ที่ Prometheus จะ scrape metrics

  # Debug exporter
  debug:
    verbosity: detailed

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlp/tempo, debug]

    logs:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlphttp/loki, debug]

    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [prometheus, debug]

  telemetry:
    logs:
      level: info
